.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-contact {
  gap: 5px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.contact-header {
  width: 375px;
  height: 58.333335876464844px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-fill {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 58px;
  position: absolute;
}
 
.contact-actions {
  gap: 24px;
  top: 16px;
  left: 343px;
  width: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.contact-overflow {
  width: 16px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-morevert {
  top: 1px;
  left: -4px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.contact-text10 {
  top: 16px;
  left: 16px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
 
.contact-text11 {
  gap: 10px;
  width: 328px;
  height: 29px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-text12 {
  color: var(--dl-color-default-black);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
 
.contact-divider1 {
  width: 360px;
  height: 1px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-rectangle1 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 1px;
  position: absolute;
}
 
.contact-card-large {
  gap: 5px;
  width: 328px;
  height: 331px;
  display: flex;
  padding: 0 0 3px;
  z-index: 3;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(26, 26, 26, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
 
.contact-image {
  width: 328px;
  height: 184px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-base {
  top: 0px;
  left: 0px;
  width: 328px;
  height: 184px;
  position: absolute;
}
 
.contact-vector {
  top: 62px;
  left: 130px;
  width: 68px;
  height: 60px;
  position: absolute;
}
 
.contact-frame10 {
  gap: 4px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-text13 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
 
.contact-text14 {
  color: var(--dl-color-default-gray100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
 
.contact-frame11 {
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-text15 {
  color: var(--dl-color-default-gray100);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 20px;
}
 
.contact-frame12 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.contact-button-small1 {
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-black);
}
 
.contact-frame13 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
}
 
.contact-text16 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 16px;
}
 
.contact-min-width641 {
  width: 64px;
  height: 0.00009999999747378752px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-button-small2 {
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-black);
}
 
.contact-frame14 {
  gap: 8px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
}
 
.contact-text17 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 16px;
}
 
.contact-min-width642 {
  width: 64px;
  height: 0.00009999999747378752px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-list-two-line {
  width: 360px;
  display: flex;
  z-index: 4;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-frame15 {
  gap: 12px;
  display: flex;
  padding: 10px 16px 9px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.contact-text18 {
  width: 328px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-text19 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
 
.contact-text20 {
  color: var(--dl-color-default-gray100);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
 
.contact-divider2 {
  width: 360px;
  height: 1px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-rectangle2 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 1px;
  position: absolute;
}
 
.contact-card-small1 {
  gap: 16px;
  width: 361px;
  height: 47px;
  display: flex;
  padding: 3px 0;
  z-index: 5;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(26, 26, 26, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
 
.contact-frame16 {
  gap: 16px;
  display: flex;
  padding: 0 5px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-frame17 {
  gap: 1px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.contact-text21 {
  color: var(--dl-color-default-black);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.contact-text22 {
  color: var(--dl-color-default-gray100);
  width: 304px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
 
.contact-card-small2 {
  gap: 16px;
  width: 361px;
  height: 47px;
  display: flex;
  padding: 3px 0;
  z-index: 6;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(26, 26, 26, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-default-white);
}
 
.contact-frame18 {
  gap: 16px;
  display: flex;
  padding: 0 5px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact-frame19 {
  gap: 1px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.contact-text23 {
  color: var(--dl-color-default-black);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.contact-text24 {
  color: var(--dl-color-default-gray100);
  width: 304px;
  height: auto;
  text-align: left;
  line-height: 20px;
}
 
.contact-bottom-navigation {
  width: 375px;
  display: flex;
  z-index: 7;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-gray300);
}
 
.contact-segment1 {
  width: 93.75px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.contact-icon1 {
  width: 24px;
  height: 24px;
}
 
.contact-text25 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.contact-segment2 {
  width: 93.75px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.contact-icon2 {
  width: 24px;
  height: 24px;
}
 
.contact-text26 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.contact-segment3 {
  width: 93.75px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.contact-icon3 {
  width: 24px;
  height: 24px;
}
 
.contact-text27 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.contact-segment4 {
  width: 93.75px;
  display: flex;
  padding: 8px 0;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.contact-icon4 {
  width: 24px;
  height: 24px;
}
 
.contact-text28 {
  color: var(--dl-color-default-black);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
