.box {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 8px;
  text-align: center;
}

.box img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
